header>nav>div>ul.menu {
    list-style-type: none;
    padding: 0px;
    text-transform: uppercase;
}

header>nav>div>ul.menu>li {
    float: left;
    padding: 10px;
    display: inline-block;
}

header>nav>div>ul.menu>li a {
    color: #51279B;
    text-decoration: none;
    margin-top: 50px;
}

header>nav>div>ul.menu>li a.link {
    text-decoration: none;
}

ul.menu>li a:hover {
    color: #8662C7;
    text-decoration: none;
}

.top-text {
    background-image: url("images/florence.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
    margin-bottom: -200px;
}

p { 
    margin: 30px;
    padding: 0px;
}

h1 p:nth-child(1) {
    font-size: 48pt;
    font-style: normal;
    color: white;
    margin-top: 200px;
    margin-left: 100px;
    position: absolute;
}

h1 p:nth-child(2) {
    font-size: 24pt;
    font-style: normal;
    color: white;
    margin-top: 300px;
    margin-left: 100px;
    position: absolute;
}

/* credit where due: clue nicked from
   https://stackoverflow.com/questions/19138758/how-to-align-caption-underneath-image
   which helped me sort out an alignment problem which I was troubled by
*/

figure {
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    margin: auto;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    font-size: 14px;
    border: 1px black;
    text-align: left;
}

figure figcaption p:nth-child(2) {
    font-size: 12px;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}

figure figcaption p:nth-child(3) {
    font-size: 10px;
    top: 0px;
    width: 400px;
    margin-left: 0px;
    margin-top: 0px;
}

footer {
    background-color: black;
    color: white;
}

footer>p {
    margin-bottom: 10px;
    margin-left: 5px;
}
footer>nav>ul.footer {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

footer>nav>ul.footer>li {
    display: inline-block;
}

footer>nav>ul.footer>li a {
    color: #996600;
    text-decoration: none;
    margin-top: 50px;
}

.boxed {
    text-align: center;
    background-color: #51279B;
    margin-top: 350px;
    margin-left: 100px;
    width: 160px;
    position: absolute;
}

.boxed a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 10pt;
    line-height: 50px;
}

.largepic figure {
    display: table;
    border: 5px solid;
    padding: 5px;
    margin: auto;
}

.largepic figure img {
    vertical-align: top;
}

.largepic figure figcaption {
    font-size: 18pt;
    border: 1px black;
    text-align: left;
    display: table-caption;
    caption-side: bottom;
}

.largepic figure figcaption p:nth-child(2) {
    font-size: 16pt;
    color: black;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}
